/* CUSTOM STYLES*/
body {
    background-color: #065535;
    color: goldenrod;
}

/* UPPER AREA */
header{
    text-align: center;
    border-bottom: 3px solid goldenrod;
}

header h1 {
    letter-spacing: 1rem;
}

.small{
    font-variant: small-caps;
    font-weight: 500;
    letter-spacing: normal;
}

/* MAIN AREA */
h3 {
    text-align: center;
}

/* FORM TO ADD BURGERS */
form {
    background-color: goldenrod;
    color: #065536;
    border: 2px dashed white;
}

.addBurgerBtn {
    background-color: #065535;
    color: #e9ecef;
    float: right;
}

/* READY BURGERS */
.readyBurgerLI {
    margin: 0.25rem;
    padding: 1rem;
    display: block;
    background-color: goldenrod;
    color: #065535;
}

.eatBurgerBtn {
    float: right;
    background-color: #065535;
    color: #e9ecef;
}

/*OLD BURGERS */
.eatenBurgerLI {
    margin: 0.25rem;
    padding: 1rem;
    display: block;
    background-color: #e9ecef;
    color: #065535;
}

.regurgitateBurgerBtn {
    float: right;
    background-color: #065535;
    color: goldenrod;
}